In [1]:
#Data Cleaning
#read the data
import pandas as pd

df=pd.read_csv("/Users/chiragshah/Downloads/Documents/Semester 1/CA682 Data Visualization/Visualisation Assignment/Dataset/price_paid_records.csv")

In [34]:
#check for null values
df.isnull().sum()

#check for price <0
df[df.Price<0]

Empty DataFrame
Columns: [Transaction unique identifier, Price, Date of Transfer, Property Type, Old/New, Duration, Town/City, District, County, PPDCategory Type, Record Status - monthly file only, Year]
Index: []

In [3]:
#Our analysis require year so extract year from Date of Transfer column
df['Year']=pd.to_datetime(df['Date of Transfer']).dt.to_period('Y')

In [41]:
# READ LONGITUDE AND LATITUDE DATA FROM https://simplemaps.com/data/gb-cities
df_new=pd.read_csv("/Users/chiragshah/Downloads/Documents/Semester 1/CA682 Data Visualization/Visualisation Assignment/Dataset/gb.csv")

In [42]:
#drop columns
df_new.drop(columns=['country','iso2','admin_name','capital','population','population_proper'],inplace=True)


#rename columns
df_new.rename(columns={'city':'Town/City'},inplace=True)

In [43]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2680 entries, 0 to 2679
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Town/City  2680 non-null   object
 1   lat        2680 non-null   float64
 2   lng        2680 non-null   float64
dtypes: float64(2), object(1)
memory usage: 62.9+ KB

In [ ]:
#Store cleaned data to a new file
df_new.to_csv("/Users/chiragshah/Downloads/Documents/Semester 1/CA682 Data Visualization/Visualisation Assignment/Dataset/cleaned_data.csv")